<!DOCTYPE html>
<html>

<head>
	<title>Passport-Spotify Example</title>
	{% block css %}
			<link href="./style.css" rel="stylesheet" type="text/css">
	{% endblock%}

</head>

<body>
	<header>
		<h1 class="title">soundtracker</h1>
		{% if not user %}
		<div class="links">
			<a href="/">Home</a> |
			<a href="/login">Log In</a>
		</div>
		{% else %}
		<div class="links">
			<a href="/">Home</a> |
			<a href="/account">Account</a> |
			<a href="/logout">Log Out</a>
		</div>
		{% endif %}
	</header>
	
	<nav>
		<div class="nav__tab nav__tab--inactive">Playlists</div>
		<div class="nav__tab nav__tab--inactive">Genres</div>
		<div class="nav__tab nav__tab--inactive">Tracks</div>
		<div class="nav__tab nav__tab--inactive">Artists</div>
		<div class="nav__tab nav__tab--inactive">Miscellaneous</div>
	</nav>

	<div class="content">
		{% block content %}{% endblock %}
	</div>

	<script>
		const tabs = Array.from(document.getElementsByClassName('nav__tab'));
		const tabRoutes = ['playlists', 'genres', 'tracks', 'artists', 'miscellaneous'];

		if (window.sessionStorage.tabStates === undefined) {
			window.sessionStorage.setItem('tabStates', JSON.stringify(tabs.map((i) => 0)));
		}

		let tabStates = JSON.parse(window.sessionStorage.tabStates);
	
		for (let i = 0; i < tabs.length; i ++) {
			tabs[i].onclick = () => { 
				tabStates = tabs.map((i) => 0);
				tabStates[i] = 1;

				window.sessionStorage.setItem('tabStates', JSON.stringify(tabStates));
				window.location = tabRoutes[i]; 
			}
		}

		function changeActiveTab() {
			for (let i = 0; i < tabs.length; i++) {
				tabs[i].classList.replace('nav__tab--active', 'nav__tab--inactive');
				if (tabStates[i]) {
					tabs[i].classList.replace('nav__tab--inactive', 'nav__tab--active');
				}
			}
			window.sessionStorage.setItem('tabStates', JSON.stringify(tabs.map((i) => 0)));
		}

		window.onreload = changeActiveTab();
	</script>

	{% block scripts %}
	{% endblock %}
</body>
</html>