<!DOCTYPE html>
<html>

<head>
	<title>Passport-Spotify Example</title>
	<link href="./style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
		{% if not user %}
		<p>
			<a href="/">Home</a> |
			<a href="/login">Log In</a>
		</p>
		{% else %}
		<p>
			<a href="/">Home</a> |
			<a href="/account">Account</a> |
			<a href="/logout">Log Out</a>
		</p>
		{% endif %}
	</header>
	<nav>
		<div class="nav__tab">Playlists</div>
		<div class="nav__tab">Genres</div>
		<div class="nav__tab">Songs</div>
		<div class="nav__tab">Miscellaneous</div>
	</nav>
	<div class="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>