<!DOCTYPE html>
<html>

<head>
	<title>Passport-Spotify Example</title>
</head>

<body>
	{% if not user %}
	<p>
		<a href="/">Home</a> |
		<a href="/login">Log In</a>
	</p>
	{% else %}
	<p>
		<a href="/">Home</a> |
		<a href="/account">Account</a> |
		<a href="/logout">Log Out</a>
	</p>
	{% endif %} {% block content %}{% endblock %}
	<ul id='test'>Test</ul>
</body>
<script>
	const arr = [1, 2, 3, 4, 5];
	const test = document.getElementById('test');

	for(let i = 0; i < arr.length; i++) {
		let li = document.createElement('li')
		li.innerHTML = i;
		test.appendChild(li);
	}
	if(playlists) {
		let p = playlists;
	}
</script>
</html>