{% extends 'layout.html' %}

{% block content %}
{% if not user %}
	<h2>Welcome! Please log in.</h2>
	<p><a href="/login">login</a></p>
{% else %}
	<!-- <h2>Hello, {{ user.username }}.</h2>
	<p>Your email is {{ user.emails[0].value }}</p> -->

	{% for playlist in playlists -%}
	<div class="item item--playlist">
		<div class="item__info">
			<h3 class="item__title">{{ playlist.name }}</h3>
			<h5 class="item__sub-title">{{ playlist.id }}</h5>
		</div>
		<div class="item__buttons">
			<button class="item__button">View</button>
		</div>
	</div>
	{%- endfor %}

{% endif %}
{% endblock %}

{% block scripts %}
<script>
	const playlists = Array.from(document.getElementsByClassName('item--playlist'));

	for (let i = 0; i < playlists.length; i++) {
		let id = playlists[i].children[0].children[1].textContent;
		let button = playlists[i].children[1].children[0];
		button.onclick = () => { window.location = 'playlist/' + id }
	}	
</script>
{% endblock %}