{% extends 'layout.html' %}

{% block css %}
		<link href="../../style.css" rel="stylesheet" type="text/css">
{% endblock%}

{% block content %}
{% if not user %}
	<h2>Welcome! Please log in.</h2>
	<p><a href="/login">login</a></p>
{% else %}
    <form>        
        <label for='playlist_name'>Name:
            <input name='playlist_name' type='text'>
        </label>
        <label for='genre_selection'>
            <select name='genre_selection' id='genre_selection'>
                <option value="">--select a genre--</option>
                {% for genre in genres %}
                    <option value={{ genre.id }}>{{ genre.name }}</option>
                {% endfor %}
            </select>
        </label>
        <button type='submit'>Generate Playlist</button>
    </form>
    <div id={{ track.id }} class="item item--track">
    </div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // get values form
        const name = form.playlist_name.value;
        const genre_id = form.genre_selection.value;
        console.log(name);
        console.log(genre_id);

        try {
            fetch('/playlist/new', {
                method: 'POST',
                body: JSON.stringify({ name: name, genre_id: genre_id }),
                headers: {'Content-Type': 'application/json'}
            });
        } catch(err) {
            console.log(err);
        }
    }); 
</script>
{% endblock %}